html, body {
  height: 100%;
  margin-left: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

#kts-scheditor-main-container {
  display: flex;
  flex-direction: row;
}

#kts-scheditor-sch-container {
  display: flex;
  flex-direction: column;
}

#kts-scheditor-details-container {
  display: flex;
  flex-direction: row;
  min-height: 150px;
}

#kts-scheditor-tt-container {
  margin: 15px;
}